#imagescontainer, #projectcontainer {
	margin-bottom: 20px;
}
#projectcontainer {
	margin-top: -20px;
}
#imageslist {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#imageslist li {
	list-style-type: none;
	display: inline-block;
    position: relative;
    background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	overflow: hidden;
}
#imageslist li a {
	display: block;
}
#back-to-imageslistB{
	width: 40%;
	max-width: 150px;
	padding-top: 10px;
	margin: 20px 0;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 15px;
	overflow: hidden;
	text-align: center;
}
#behance-detail{
	margin-top: 40px;
}
/*#imageslist li .cover-title {
	display: none;
}
#imageslist li .cover-tag {
	display: none;
}*/
#projectImages li {
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AAA;
	font-size: 14px;
	border:none;
	text-align: center;
}
#projectImages li div{
	text-align: left;
}
#projectTag, #projectFields, #projectDate, #projectCC, #projectLC {
    display: block;
    margin-bottom: 10px;
}

.tooltip-inner {
  width: 194px;
  background-color: #212222;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #212222;
  border-width: 9px 9px 0;
  bottom: 0;
  margin-left: -80px;
}
.title {
	 font-size: 26px;
	 line-height: 1.4em;
}
.sub-title {
	 font-size: 20px;
	 line-height: 1.4em;
}
.text, .text_plain {
	 font-size: 14px;
	 line-height: 1.4em;
}

/*** responsive extras ***/

@media (min-width: 1200px) {
#imageslist img {
	width: 360px;
	height: auto;
}
}
ul#projectImages {
	width: 600px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#descriptioncontainer {
	float: right;
	width: 43%;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 40px;
	overflow: hidden;
}
#behance-detail h1, #behance-detail .h1 {
  font-size: 32px;
}
}
@media (min-width: 980px) and (max-width: 1199px) {
.tooltip-inner {
  width: 196px;
  max-width: 196px;
}
#imageslist img {
		width: 220px;
		height: 172px;
}
}
#behance-detail h1, #behance-detail .h1 {
  font-size: 32px;
}
ul#projectImages {
	float: left;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 40px;
	overflow: hidden;
	width: 54%;
}
#descriptioncontainer {
	float: right;
	width: 43%;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 40px;
	overflow: hidden;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.tooltip-inner {
  width: 204px;
  max-width: 204px;
}
#imageslist img {
		width: 300px;
		height: auto;
}
#behance-detail h1, #behance-detail .h1 {
  font-size: 25px;
}
ul#projectImages {
	float: left;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 40px;
	overflow: hidden;
	width: 54%;
}
#descriptioncontainer {
	float: none;
	width: 43%;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 40px;
	overflow: hidden;
}
}
@media (max-width: 767px) {
#imagescontainer, #projectcontainer {
	margin-bottom: 20px;
	text-align:left;
}
.tooltip-inner {
  width: 162px;
}
#imageslist img {
		width: 340px;
		height: auto;
}
#behance-detail h1, #behance-detail .h1 {
  font-size: 20px;
}
ul#projectImages {
	float: none;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 20px;
	overflow: hidden;
	width: 95%;
}
#descriptioncontainer {
	float: none;
	width: 95%;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 20px;
	overflow: hidden;
}
#imageslist li {
	float:none;
	display:inline-block;
}
}
@media (max-width: 480px) {
.tooltip-inner {
  width: 186px;
}
#imageslist img {
	width: 310px;
	height: auto;
}
#back-to-imageslistB{
	width: 95%;
	max-width: none;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 15px;
	overflow: hidden;
	text-align: center;
}
ul#projectImages {
	float: none;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 20px;
	overflow: hidden;
	width: 95%;
}
#descriptioncontainer {
	float: none;
	width: 95%;
	padding-top: 10px;
	margin: 20px auto;
	background-color: #FFF;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	padding: 20px;
	overflow: hidden;
}
}
@media (max-width: 320px) {
#imageslist img {
	width: 320px;
	height: 250px;
}
}